
body,
html {
	overflow-x:hidden;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}

iframe {
	border: none;
}





.mu-send-msg-btn {
	color: #555;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	padding: 16px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 200px;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	text-transform: uppercase;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}


.scrollToTop {
	bottom: 60px;
	color: #ffffff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 55px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	height: 55px;
	border-radius: 10px;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}



#mu-hero {
	background-image: url("assets/images/head-featured-bg.jpg");
	display: inline;
	float: left;
	width: 100%;
	position: relative;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#mu-hero:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	opacity: 0.84;
	width: 100%;
	z-index: 10;
}

.mu-hero-area {
	display: inline;
	float: left;
	position: relative;
	z-index: 99;
	width: 100%;
}

.mu-hero-top {
	display: inline;
	float: left;
	width: 100%;
	padding: 25px 0;
}


.mu-logo-area {
	display: inline;
	float: left;
	width: 50%;
}

.mu-logo {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	font-weight: 700;
	background: #fff;
	max-width: 500px;
}

.mu-logo span{
	display: inline-block;
	padding: 5px 15px;
}

.mu-hero-top-info {
	display: inline;
	float: left;
	text-align: right;
	width: 50%;
}

.mu-hero-top-info ul {
	margin-top: 14px;
}

.mu-hero-top-info ul li {
	list-style: none;
	color: #fff;
	font-size: 18px;
	display: inline-block;
	padding: 0 8px;
	border-left: 1px solid #f8f8f8;
	font-size: 16px;
	float: right;
}

.mu-hero-top-info ul li:last-child {
	border-left: none;
}

.mu-menu-btn {
	position: fixed;
	right: 15%;
	top: 50px;
	color: #fff;
	font-size: 25px;
	border: 2px solid #fff;
	padding: 5px 14px;
	z-index: 999;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
	border: 2px solid #fff;
}

.mu-scrolldown-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-scrolldown {
	font-size: 40px;
	color: #fff;
	display: inline-block;
	margin-top: 50px;
}

.mu-scrolldown:hover,
.mu-scrolldown:focus {
	color: #fff;
}



.mu-hero-featured-area {
	display: inline;
	float: left;
	padding: 60px 0 150px;
	width: 100%;
}

.mu-hero-featured-content {
	display: inline;
	float: right;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.mu-hero-featured-content h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 15px;
}


.mu-hero-featured-content p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
}

.mu-hero-featured-content h2 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	display: inline-block;
}

.mu-book-now-btn {
	display: inline-block;
	border: 1px solid #fff;
	background-color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 25px;
	margin-top: 30px;
}



#mu-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-about-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-right {
	display: inline;
	float: left;
	margin-top: 35px;
	width: 130%;
	background-color: #fff;
	padding: 40px;
	margin-left: -175px;
	box-shadow: 3px 1px 18px -9px #000;
}

.mu-about-right p {
	font-size: 15px;
}



#mu-why-us {
	background-color: #fff;
	float: left;
	padding: 50px 0 100px;
	display: inline;
	width: 100%;
}

.mu-why-us-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-why-us-area h2 {
	color: #333;
	
}

.mu-why-us-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-why-us-single {
	display: inline;
	float: left;
	width: 100%;
	padding: 0 5px;
}

.my-why-us-single-icon {
	border: 1px solid #ccc;
	font-size: 30px;
	display: inline-block;
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.mu-why-us-single h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.mu-why-us-single p {
	font-size: 15px;
}



#mu-video {
	background-image: url("assets/images/about-video-bg.jpeg");
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-video:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	opacity: 0.94;
	width: 100%;
	z-index: 10;
}

.mu-video-area {
	display: inline;
	float: left;
	position: relative;
	padding: 100px 0;
	text-align: center;
	width: 100%;
	z-index: 99;
}

.mu-video-area h2,
.mu-video-area p {
	color: #fff;
}

.mu-video-content {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 50px;
}

.mu-video-content iframe {
	border: none;
}



#mu-featured-tours {
	background-color: #fff;
	float: left;
	padding: 100px 0;
	display: inline;
	width: 100%;
}

.mu-featured-tours-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-featured-tours-area h2 {
	color: #333;	
}

.mu-title-content {
	padding: 0 10%;
}

.mu-featured-tours-content {
	display: inline;
	float: left;
	margin-top: 40px;
	width: 100%;
}

.mu-featured-tours-single {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
	margin: 15px 0;
}

.mu-featured-tours-single-info {
	display: inline;
	float: left;
	position: relative;
	width: 100%;
	padding: 20px 10px;
}

.mu-featured-tours-single h3 {
	font-size: 22px;
	margin-bottom: 5px;
}

.mu-featured-tours-single h4 {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
}

.mu-price-tag {
	position: absolute;
	bottom: 25px;
	left: 15px;
	color: #333;
	font-size: 22px;
	font-weight: 600;
}

.mu-featured-tours-single p {
	font-size: 15px;
}

.mu-featured-tours-single-info .mu-book-now-btn {
	margin-top: 10px;
	font-size: 15px;
	text-transform: capitalize;
	float: right;
}


#mu-testimonials {
	background-image: url("assets/images/testimonials-bg.jpeg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-testimonials::before {
	background: rgba(0,0,0,0.5);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
}

.mu-testimonials-area {
	display: inline;
	float: left;
	padding: 150px 0 175px;
	width: 100%;
}

.mu-testimonials-area h2 {
	color: #fff;
	text-align: center;
}

.mu-testimonials-block {
	display: inline;
	float: left;
	margin-top: 60px;
	width: 100%;
}

.mu-testimonial-slide li{
	list-style: none;
	text-align: center;
}

.mu-client-quote {
	font-size: 35px;
	opacity: 0.7;
	margin-bottom: 25px;
}

.mu-testimonial-slide li p {
	color: #fff;
	padding: 0 10%;
}

.mu-testimonial-slide .mu-rt-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 15px;
	display: inline-block;
}

.mu-rt-name {
	margin-bottom: 5px;
	color: #fff;
	line-height: 1;
	margin-top: 25px;
	letter-spacing: 1px;
}

.mu-rt-title {
	color: #fff;
	font-size: 14px;
}

.mu-testimonial-slide .slick-dots {
    bottom: -50px;
}

.mu-testimonial-slide .slick-dots li {
	background-color: #f8f8f8;
	height: 4px;	
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


.mu-testimonial-slide .slick-dots li button {
	display: none;
}



#mu-clients {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-clients-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
	text-align: center;
}

.mu-clients-slider {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-clients-single {
	display: inline;
	float: left;
}

.mu-clients-slider .slick-next {
	right: -40px;
}

.mu-clients-slider .slick-prev {
	left: -60px;
}

.mu-clients-slider .slick-prev, 
.mu-clients-slider .slick-next {
	background-color: transparent;
}



#mu-callto-action {
	display: inline;
	float: left;
	width: 100%;
	padding: 50px 0;
}

.mu-callto-action-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-callto-action-area h2 {
	color: #fff;
	font-size: 28px;
	letter-spacing: 0.5px;
}

.mu-callto-action-area .mu-book-now-btn {
	margin-top: 25px;
}


#mu-contact {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 100px 18%;
	width: 100%;
}

.mu-contact-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-contact-form-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-form {
	text-align: center;
}

.mu-contact-form .form-group input {
	background: transparent;
	border-radius: 0;
	color: #333;
	font-size: 15px;
	border: 1px #888;
	border-style: none none solid none;
	height: 45px;
	margin-bottom: 24px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-contact-form .form-group textarea {
	background: transparent;
	border: 1px #888;
	border-style: none none solid none;
	border-radius: 0;
	color: #333;
	font-size: 18px;
	padding: 10px;
	height: 100px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-contact-form .form-control:focus {
	background-color: #fff;
	border-style: none none solid none;
    outline: 0;
    box-shadow: none;    
} 

.mu-contact-form .form-control::-webkit-input-placeholder {
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #888;
	font-size: 15px; 
}

.mu-contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-ms-input-placeholder {  
	color: #888;
	font-size: 15px;
}

.mu-contact-form .button-default::after,
.mu-contact-form .button-default > span {
	padding: 12px 40px;  
}

#form-messages {
	margin-bottom: 10px;
    background-color: #fff;
}

.success {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	-webkit-border-radius: 4px;
	      border-radius: 4px;
}

.error {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid rgba(185, 74, 72, 0.3);
	-webkit-border-radius: 4px;
	      border-radius: 4px;
}


#mu-google-map {
	display: inline;
	float: left;
	width: 100%;
}

#mu-google-map iframe {
	height: 550px;
	width: 100%;
}



#mu-footer {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-right {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media a {
	border: 1px solid #19191a;
	border-radius: 6px;
	color: #19191a;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.mu-footer-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-copy-right {
	margin-bottom: 0;
	margin-top: 6px;
}

.mu-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}



@media (max-width: 1199px) {

	.mu-about-right {
		margin-top: 20px;
		width: 140%;
		padding: 25px;
		margin-left: -190px;
	}

	.mu-clients-slider .slick-prev {
		left: -40px;
	}

	#mu-google-map iframe {
		height: 450px;
	}
		
}

@media (max-width: 991px) {	

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-hero-featured-content h1 {
		font-size: 35px;
	}

	.mu-hero-featured-content h2 {
		color: #fff;
		font-size: 20px;
	}

	.mu-about-left img {
		max-width: none;
		width: 115%;
	}

	.mu-about-right {
		margin-top: 75px;
		width: 160%;
		padding: 20px;
		margin-left: -190px;
	}

	.mu-about-right p {
		font-size: 14px;
	}

	.mu-why-us-single {
		padding: 0;
	}

	.mu-featured-tours-single p {
		font-size: 14px;
	}

	.mu-featured-tours-single-info .mu-book-now-btn {
		font-size: 14px;
	}

	.mu-price-tag {
		font-size: 20px;
	}

	.mu-video-content iframe {
		width: 100%;
		height: 400px;
	}

	.mu-clients-slider .slick-next {
		right: -20px;
	}

	.mu-clients-slider .slick-prev {
		left: -20px;
	}

	.mu-contact-area {
		padding: 100px 10%;
	}
		
}

@media (max-width: 767px) {
	
	.mu-logo-area {
		width: 100%;
		text-align: center;
	}

	.mu-hero-top-info {
		text-align: center;
		width: 100%;
	}

	.mu-hero-top-info ul {
		margin-top: 20px;
	}

	.mu-hero-top-info ul li {
		border-left: none;
		float: none;
		border-right: 1px solid #f8f8f8;
	}

	.mu-hero-top-info ul li:last-child {
		border-left: 0;
		border-right: 0;
	}

	.mu-hero-featured-area {
		padding: 0px 0 50px;
	}

	.mu-about-area {
		padding: 50px 0;
	}

	.mu-about-left img {
		max-width: 100%;
		width: auto;
	}

	.mu-about-right {
		margin-top: 30px;
		width: 100%;
		padding: 0;
		margin-left: 0;
		box-shadow: none;
	}

	.mu-about-right p {
		font-size: 15px;
	}

	#mu-why-us {
		padding: 50px 0 50px;
	}

	.mu-why-us-single {
		margin-bottom: 40px;
	}

	.mu-title-content {
		padding: 0;
		font-size: 15px;
	}

	.mu-video-area {
		padding: 80px 0;
	}

	.mu-video-content {
		margin-top: 30px;
	}

	#mu-featured-tours {
		padding: 60px 0;
	}

	.mu-featured-tours-content {
		margin-top: 20px;
	}

	.mu-featured-tours-single-info {
		padding: 20px;
	}

	.mu-testimonials-area {
		padding: 100px 0 125px;
	}

	.mu-clients-single {
		padding: 0 5px;
	}

	.mu-contact-area {
		padding: 50px 0%;
	}

	#mu-google-map iframe {
		height: 400px;
	}

	.mu-social-media {
		margin-top: 15px;
	}			
		
}


@media (max-width: 640px){
	
	.mu-hero-featured-content h1 {
		font-size: 30px;
	}

	.mu-hero-featured-content p {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.5px;
	}

	.mu-hero-featured-content {
		margin-top: 30px;
	}

	#mu-why-us {
		padding: 20px 0 50px;
	}

	.scrollToTop {
		font-size: 25px;
		line-height: 43px;
		width: 45px;
		height: 45px;
		border-radius: 8px;
	}						

}


@media (max-width: 480px) {

	body {
		font-size: 14px;
	}

	.mu-logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.mu-hero-featured-content {
		margin-top: 20px;
	}

	.mu-hero-featured-content h1 {
		font-size: 25px;
	}

	.mu-hero-featured-content h2 {
		font-size: 14px;
	}

	.mu-hero-featured-content p {
		font-size: 15px;
	}

	.mu-scrolldown {
		font-size: 35px;
		margin-top: 40px;
	}
	
	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	.mu-video-content iframe {
		width: 100%;
		height: 300px;
	}

	.mu-testimonials-area {
		padding: 50px 0 75px;
	}

	.mu-testimonials-block {
		margin-top: 30px;
	}

	.mu-testimonial-slide li p {
		padding: 0 5%;
		font-size: 15px;
	}

	.mu-clients-slider .slick-prev, 
	.mu-clients-slider .slick-next {
		height: 40px;
		width: 40px;
	}

	.mu-clients-slider .slick-prev::before, 
	.mu-clients-slider .slick-next::before {
		font-size: 18px;
	}

	.mu-clients-slider .slick-next {
		right: 0;
	}

	.mu-clients-slider .slick-prev {
		left: 0;
	}

	.mu-callto-action-area h2 {
		font-size: 22px;
	}

	.mu-book-now-btn {
		font-size: 16px;
	}

	.mu-contact-content {
		margin-top: 30px;
	}

	.mu-social-media a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
					
	
}


@media (max-width: 360px) {


	.mu-hero-featured-area {
		padding: 0 0 30px;
	}

	.mu-hero-top-info ul li {
		font-size: 14px;
	}

	h2 {
		font-size: 25px;
	}

	.mu-video-content iframe {
		height: 250px;
	}

	.mu-client-quote {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.mu-rt-name {
		margin-bottom: 0px;
		margin-top: 15px;
	}

	.mu-testimonial-slide .mu-rt-img {
		width: 80px;
		height: 80px;
		margin-top: 0px;
	}

	.mu-testimonial-slide .slick-dots {
		bottom: -40px;
	}

	.mu-testimonials-area {
		padding: 50px 0 55px;
	}

	#mu-callto-action {
		padding: 30px 0;
	}

	.mu-book-now-btn {
		font-size: 15px;
		margin-top: 20px;
	}

	.mu-callto-action-area .mu-book-now-btn {
		margin-top: 15px;
	}

	.mu-callto-action-area h2 {
		font-size: 20px;
		line-height: 1.3;
	}

	.mu-send-msg-btn {
		font-size: 14px;
		padding: 12px 18px;
		width: 170px;
	}

	#mu-google-map iframe {
		height: 250px;
	}

}



@media (max-width: 320px) {
	
	h2 {
		font-size: 22px;
	}

	.mu-hero-top-info ul {
		margin-top: 0px;
	}
	
	
}
